<div style="text-align:center">
<h1>
  Routing and Navigation
</h1>
</div>
<!-- <app-helloworld></app-helloworld> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <propertybinding></propertybinding> -->
<!-- <eventbinding></eventbinding> -->
<!-- <templatereference></templatereference> -->
<!-- <twowaybinding></twowaybinding> -->
<!-- <parentchild (childEvent)="message=$event" [parentData]="name"></parentchild> -->
<!-- <employeelist></employeelist> -->
<!-- <employeedetail></employeedetail> -->
<!-- <observable></observable> -->
<routing></routing>
<router-outlet></router-outlet>