<div style="text-align:center">
<h1>
  {{message}}
</h1>
</div>
<!-- <app-helloworld></app-helloworld> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <propertybinding></propertybinding> -->
<!-- <eventbinding></eventbinding> -->
<!-- <templatereference></templatereference> -->
<!-- <twowaybinding></twowaybinding> -->
<!-- <parentchild (childEvent)="message=$event" [parentData]="name"></parentchild> -->
<employeelist></employeelist>
<employeedetail></employeedetail>
<router-outlet></router-outlet>